$pink: hsl(322, 100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    header{
        background-image: url('../images/bg-hero-desktop.svg');
        background-size: cover;
        background-color: $veryPaleCyan;
        .wrapper{
            padding: 50px 80px 60px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .huddle{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;
                .logo{
                    img{
                        width: 83%;
                    }
                }
                .btn-white{
                    text-decoration: none;
                    background: #fff;
                    color: $veryDarkCyan;
                    padding: 14px 60px;
                    border-radius: 50px;
                    font-weight: 700;
                    font-size: 0.875em;
                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                }
            }
            .information{
                width: 45%;
                padding-right: 50px;
                h2{
                    font-size: 2.5em;
                    color: $veryDarkCyan;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 1.15em;
                    color: $veryDarkCyan;
                    margin-bottom: 30px;
                }
                .btn-pink{
                    text-decoration: none;
                    color: #fff;
                    display: inline-block;
                    background: $pink;
                    font-weight: 700;
                    font-size: 0.875em;
                    padding: 20px 0;
                    border-radius: 60px;
                    width: 55%;
                    text-align: center;
                    max-width: 300px;
                    box-shadow: 0 10px 15px -3px rgba(255, 82, 191, 0.3), 0 4px 6px -2px rgba(255, 82, 191, 0.3);
                }
            }
            .illustration{
                width: 55%;
                padding: 0 5px;
                img{
                    width: 100%;
                }
            }
        }
    }
    main{
        margin-top: 160px;
        .card{
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
            border-radius: 15px;
            margin: 0 105px 40px;
            .card-content{
                padding: 0 120px;
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3, p{
                    width: 100%;
                    margin: 0;
                }
                h3{
                    margin-bottom: 10px;
                    font-size: 1.75em;
                    color: $veryDarkCyan;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                }
                p{
                    font-size: 1.125em;
                    color: $grayishBlue;
                    line-height: 1.5em;
                }
            }
            .card-image{
                width: 40%;
                padding: 55px 30px 50px;
                img{
                    width: 100%;
                }
            }
        }
        .advice{
            background-color: #fff;
            overflow:visible;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
            width: 65%;
            margin: 0 auto;
            margin-top: 60px;
            text-align: center;
            padding-top: 65px;
            position: relative;
            bottom: -95px;
            h2{
                font-family: 'Poppins', sans-serif;
                font-size: 2em;
                color: $veryDarkCyan;
                margin-bottom: 35px;
            }
            a{    
                text-decoration: none;
                color: #fff;
                display: inline-block;
                background: $pink;
                font-weight: 700;
                font-size: 1.25em;
                padding: 25px 0;
                width: 50%;
                border-radius: 60px;
                margin-bottom: 50px;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            }
        }
    }
    footer{
        background: $veryDarkCyan;
        padding: 190px 120px 0;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        .logo{
            width: 100%;
            margin-bottom: 40px;
        }
        .column1{
            width: 32%;
            .ubication, .phone, .email{
                display: flex;
                margin-bottom: 25px;
                .image{
                    margin-right: 25px;
                    padding-top: 5px;
                    svg{
                        opacity: 1;
                    }  
                }
                p{
                    opacity: 0.85;
                    font-weight: 400;
                    line-height: 1.6em;
                }
            }
        }
        .column2{
            margin-left: 125px;
            margin-right: 155px;
            display: flex;
            .left, .right{
                list-style-type: none;
                font-size: 1.125em;
                li{
                    opacity: 0.85;
                    margin-bottom: 20px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .left{
                margin-right: 120px;
            }
        }
        .column3{
            display: flex;
            a{
                text-decoration: none;
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #fff;
                text-align: center;
                line-height: 2em;
                vertical-align: middle;
                font-size: 0.875em;
                margin-right: 10px;
            }
            
        }
        .copyright{
            font-family: 'Poppins', sans-serif;
            text-align: right;
            width: 100%;
            font-size: 0.75em;
            font-weight: 200;
            margin-bottom: 40px;
            word-spacing: 0.5px;
        }
        .attribution{
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            opacity: 0.8;
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px){
    body{
        header{
            .wrapper{
                max-width: 1440px;
                margin: 0 auto;
            }
        }
        main{
            .card{
                max-width: 1230px;
                margin: 0 auto;
                margin-bottom: 40px;
            }
            .advice{
                max-width: 936px;
            }
        }
    }
}


@media screen and (max-width: 1024px){
    body{
        header{
            background-image: url('../images/bg-hero-mobile.svg');
            background-color: $veryPaleCyan;
            background-repeat: no-repeat;
            background-size: contain;
            .wrapper{
                padding: 50px 30px 64px;
                .huddle{
                    margin-bottom: 165px;
                    .btn-white{
                        padding: 10px 45px;
                        font-size: 1.25em;
                    }
                }
                .information, .illustration{
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .information{
                    padding: 0 40px;
                    margin-bottom: 106px;
                    h2{
                        font-size: 3em;
                        margin-bottom: 40px;
                    }
                    p{
                        font-size: 2em;
                        line-height: 1.5em;
                        margin-bottom: 65px;
                    }
                    .btn-pink{
                        max-width: none;
                        width: 79%;
                        font-size: 1.45em;
                        line-height: 1.8em;
                        color: rgba($color: #fff, $alpha: 0.95);
                        
                    }
                }
                .illustration{
                    padding: 0 45px;
                }
            }
        }
        main{
            margin-top: 120px;
            .card{
                &:nth-child(2){
                    flex-direction: column;
                }
                margin: 0 40px 80px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
                border-radius:30px;
                flex-direction: column-reverse;
                flex-wrap: wrap;
                padding-bottom: 65px;
                .card-image, .card-content{
                    width: 100%;
                }
                .card-image{
                    padding: 15%;
                }
                .card-content{
                    margin-top: 10px;
                    text-align: center;
                    padding: 0 80px;
                    h3{
                        font-size: 2.5em;
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 1.75em;
                    }
                }
            }
            .advice{
                width: 94%;
                margin-top: 102px;
                padding-top: 90px;
                border-radius: 30px;
                bottom: -140px;
                h2{
                    font-size: 2.25em;
                    margin-bottom: 50px;
                }
                a{
                    margin-bottom: 80px;
                    width: 56.5%;
                    padding: 27px 0;
                }
            }
        }
        footer{
            padding: 280px 35px 0;
            .column1{
                width: 100%;
                .ubication, .phone, .email{
                    margin-bottom: 40px;
                    .image{
                        margin-right: 50px;
                        padding-top: 10px;
                    }
                    p{
                        font-size: 2em;
                    }
                }
            }
            .column2{
                margin-left: 0;
                margin-right: 0;
                margin-top: 80px;
                flex-flow: row wrap;
                .left, .right{
                    width: 100%;
                    li{
                        font-size: 2em;
                        margin-bottom: 35px;
                    }
                }
            }
            .column3{
                margin-top: 65px;
                width: 100%;
                justify-content: center;
                a{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    font-size: 2em;
                    margin: 15px;
                    line-height: 1.8em;
                }   
            }
            .copyright{
                text-align: center;
                margin-top: 30px;
                margin-bottom: 70px;
                font-weight: 300;
                font-size: 1.35em;
            }
        }
    }
}