* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body header {
  background-image: url("../images/bg-hero-desktop.svg");
  background-size: cover;
  background-color: #ebfbff;
}
body header .wrapper {
  padding: 50px 80px 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header .wrapper .huddle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
body header .wrapper .huddle .logo img {
  width: 83%;
}
body header .wrapper .huddle .btn-white {
  text-decoration: none;
  background: #fff;
  color: #00252e;
  padding: 14px 60px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.875em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
body header .wrapper .information {
  width: 45%;
  padding-right: 50px;
}
body header .wrapper .information h2 {
  font-size: 2.5em;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
body header .wrapper .information p {
  font-size: 1.15em;
  color: #00252e;
  margin-bottom: 30px;
}
body header .wrapper .information .btn-pink {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background: #ff52bf;
  font-weight: 700;
  font-size: 0.875em;
  padding: 20px 0;
  border-radius: 60px;
  width: 55%;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 10px 15px -3px rgba(255, 82, 191, 0.3), 0 4px 6px -2px rgba(255, 82, 191, 0.3);
}
body header .wrapper .illustration {
  width: 55%;
  padding: 0 5px;
}
body header .wrapper .illustration img {
  width: 100%;
}
body main {
  margin-top: 160px;
}
body main .card {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin: 0 105px 40px;
}
body main .card .card-content {
  padding: 0 120px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .card .card-content h3, body main .card .card-content p {
  width: 100%;
  margin: 0;
}
body main .card .card-content h3 {
  margin-bottom: 10px;
  font-size: 1.75em;
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body main .card .card-content p {
  font-size: 1.125em;
  color: #808d99;
  line-height: 1.5em;
}
body main .card .card-image {
  width: 40%;
  padding: 55px 30px 50px;
}
body main .card .card-image img {
  width: 100%;
}
body main .advice {
  background-color: #fff;
  overflow: visible;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  width: 65%;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  padding-top: 65px;
  position: relative;
  bottom: -95px;
}
body main .advice h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: #00252e;
  margin-bottom: 35px;
}
body main .advice a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background: #ff52bf;
  font-weight: 700;
  font-size: 1.25em;
  padding: 25px 0;
  width: 50%;
  border-radius: 60px;
  margin-bottom: 50px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
body footer {
  background: #00252e;
  padding: 190px 120px 0;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
body footer .logo {
  width: 100%;
  margin-bottom: 40px;
}
body footer .column1 {
  width: 32%;
}
body footer .column1 .ubication, body footer .column1 .phone, body footer .column1 .email {
  display: flex;
  margin-bottom: 25px;
}
body footer .column1 .ubication .image, body footer .column1 .phone .image, body footer .column1 .email .image {
  margin-right: 25px;
  padding-top: 5px;
}
body footer .column1 .ubication .image svg, body footer .column1 .phone .image svg, body footer .column1 .email .image svg {
  opacity: 1;
}
body footer .column1 .ubication p, body footer .column1 .phone p, body footer .column1 .email p {
  opacity: 0.85;
  font-weight: 400;
  line-height: 1.6em;
}
body footer .column2 {
  margin-left: 125px;
  margin-right: 155px;
  display: flex;
}
body footer .column2 .left, body footer .column2 .right {
  list-style-type: none;
  font-size: 1.125em;
}
body footer .column2 .left li, body footer .column2 .right li {
  opacity: 0.85;
  margin-bottom: 20px;
}
body footer .column2 .left {
  margin-right: 120px;
}
body footer .column3 {
  display: flex;
}
body footer .column3 a {
  text-decoration: none;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
  font-size: 0.875em;
  margin-right: 10px;
}
body footer .copyright {
  font-family: "Poppins", sans-serif;
  text-align: right;
  width: 100%;
  font-size: 0.75em;
  font-weight: 200;
  margin-bottom: 40px;
  word-spacing: 0.5px;
}
body footer .attribution {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.8;
}
body footer .attribution a {
  text-decoration: none;
  color: #fff;
}
body footer .attribution a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  body header .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  body main .card {
    max-width: 1230px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  body main .advice {
    max-width: 936px;
  }
}
@media screen and (max-width: 1024px) {
  body header {
    background-image: url("../images/bg-hero-mobile.svg");
    background-color: #ebfbff;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body header .wrapper {
    padding: 50px 30px 64px;
  }
  body header .wrapper .huddle {
    margin-bottom: 165px;
  }
  body header .wrapper .huddle .btn-white {
    padding: 10px 45px;
    font-size: 1.25em;
  }
  body header .wrapper .information, body header .wrapper .illustration {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  body header .wrapper .information {
    padding: 0 40px;
    margin-bottom: 106px;
  }
  body header .wrapper .information h2 {
    font-size: 3em;
    margin-bottom: 40px;
  }
  body header .wrapper .information p {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 65px;
  }
  body header .wrapper .information .btn-pink {
    max-width: none;
    width: 79%;
    font-size: 1.45em;
    line-height: 1.8em;
    color: rgba(255, 255, 255, 0.95);
  }
  body header .wrapper .illustration {
    padding: 0 45px;
  }
  body main {
    margin-top: 120px;
  }
  body main .card {
    margin: 0 40px 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-bottom: 65px;
  }
  body main .card:nth-child(2) {
    flex-direction: column;
  }
  body main .card .card-image, body main .card .card-content {
    width: 100%;
  }
  body main .card .card-image {
    padding: 15%;
  }
  body main .card .card-content {
    margin-top: 10px;
    text-align: center;
    padding: 0 80px;
  }
  body main .card .card-content h3 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  body main .card .card-content p {
    font-size: 1.75em;
  }
  body main .advice {
    width: 94%;
    margin-top: 102px;
    padding-top: 90px;
    border-radius: 30px;
    bottom: -140px;
  }
  body main .advice h2 {
    font-size: 2.25em;
    margin-bottom: 50px;
  }
  body main .advice a {
    margin-bottom: 80px;
    width: 56.5%;
    padding: 27px 0;
  }
  body footer {
    padding: 280px 35px 0;
  }
  body footer .column1 {
    width: 100%;
  }
  body footer .column1 .ubication, body footer .column1 .phone, body footer .column1 .email {
    margin-bottom: 40px;
  }
  body footer .column1 .ubication .image, body footer .column1 .phone .image, body footer .column1 .email .image {
    margin-right: 50px;
    padding-top: 10px;
  }
  body footer .column1 .ubication p, body footer .column1 .phone p, body footer .column1 .email p {
    font-size: 2em;
  }
  body footer .column2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    flex-flow: row wrap;
  }
  body footer .column2 .left, body footer .column2 .right {
    width: 100%;
  }
  body footer .column2 .left li, body footer .column2 .right li {
    font-size: 2em;
    margin-bottom: 35px;
  }
  body footer .column3 {
    margin-top: 65px;
    width: 100%;
    justify-content: center;
  }
  body footer .column3 a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2em;
    margin: 15px;
    line-height: 1.8em;
  }
  body footer .copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 1.35em;
  }
}

/*# sourceMappingURL=styles.css.map */
